<div class="container">
<h5>Nome completo: {{user.nome_completo}}</h5><br>
<h5>Data de nascimento: {{user.data_nascimento}}</h5><br>
<h5>Tipo do cargo: {{user.tipo_cargo}}</h5><br>
<h5> Salario: R${{user.valor_salario}}</h5><br>
<h5>Data de Entrada na empresa: {{user.data_entradaempresa}}</h5><br>
<h5>Setor da empresa: {{user.setor}}</h5><br>

<a href="/">Home</a>
<a href="/users/add">Adicionar funcionarios da empresa</a>
</div>